* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}


#title {
    background-color: #911912;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}


/* Dowload Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image  */
.title-image {
    width: 60%;
    transform: rotate(20deg);
    margin-left: 5%;
}

/* Features Section */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #911912;
    margin-bottom: 1rem;
}

.icon:hover {
    color:  #dd0021;
}

/* Testimonial section  */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #911912;
    color: #fff;
}

.testimonial-image {
    width: 14%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


#press {
    background-color: #911912;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}



/* Media Queries  */

@media only screen  and (max-width: 992px) {

    .download-btn-box {
        text-align: center;
    }

    h1 {
        font-size: 2.8rem;
        margin-right: 5%;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* Image style  */
    .cat-img {
        padding: 10%;
        margin-left: 12%;
    }

    .menu-responsive {
        text-align: center;
    }

    .testimonial-image {
        width: 20%;
    }

    
}