body {
    font-family: "Montserrat";
}


#title {
    background-color: #911912;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}


/* Dowload Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image  */
.title-image {
    width: 60%;
    transform: rotate(20deg);
}

/* Features Section */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #911912;
    margin-bottom: 1rem;
}

.icon:hover {
    color:  #ff4c68;
}